.header {

   border: #d80f0f solid 2px;
   position: fixed;
   top: 0;
   left: 0;
   padding-top: 58px;
   padding-bottom: 19px;   
   z-index: 100;
   background: #0B0F14;
   width: 100%;

   &__container {
      display: flex;
      justify-content: space-between;

   }

   &__nav {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-left: 105px;
      gap: 47px;
      max-width: 900px;
      width: 100%;
   }

   &__links {
      margin-top: -10px;
      margin-right: 17px;
   }
}

.nav__item {
   font-family: 'Uindbase Font 1';
   font-size: 20px;
   text-align: center;
   text-transform: uppercase;
   &:hover {
      text-decoration: underline;
   }
     
}

.nav__item.nav__item_active {
   color: #D1C12B; 
}

.nav__item:first-child {
   margin-right: 11px;
}

.nav__logo {
   display: block;
   margin-top: -21px;
   width: 122px;
   height: 30px;
}


.header__links .links__item {
   margin-top: -12px;
}


@media (max-width: 1600px){

}

@media (max-width: 1336px){

}

@media (max-width: 992px){

}

@media (max-width: 866px){

}

@media (max-width: 690px){

}

@media (max-width: 510px){

}