.about {

		&__title {
         margin-top: 250px;
         margin-bottom: 90px;
         text-align: end;
         position: relative;
         font-family: 'Uindbase Font 1';
         font-style: normal;
         font-weight: 400;
         font-size: 100px;
         line-height: 100px;         
      }

		&__text {
         margin: 0 auto;
         margin-bottom: 70px;
         font-family: 'Uindbase Font 1';
         font-style: normal;
         font-weight: 400;
         font-size: 20px;
         line-height: 20px;
         text-transform: uppercase;
      }

		&__galery {
         display: flex;
         gap: 30px;
         padding-left: 50px;
         margin-bottom: 120px;
      }
}
.about__title .about-title {

		&__background {
         text-align: end;
         right: 0;
         top: -60px;
         font-size: 160px;
         line-height: 160px;
      }
}

.galery-about {

		&__item {
         height: 360px;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: 50% 0;


         &:nth-child(1) {
            width: 30%;
         }
         &:nth-child(2) {
            width: 45%;
         }
         &:nth-child(3) {
            width: 25%;
         }
      }
}

@media (max-width: 1600px) {
   .about__title .about-title__background {
      font-size: 140px;
      line-height: 140px;
      top: -50px;
   }
   .about__text {
      max-width: 1400px;
   }
   .about__galery {
      gap: 25px;
      padding-left: 0;
   }

   .galery-about__item {
      height: 340px;
   }
}

@media (max-width: 1200px) {
   .about__title .about-title__background {
      font-size: 140px;
      line-height: 140px;
   }
   .about__text {
      max-width: 1100px;
   }
   .about__galery {
      gap: 25px;
      padding-left: 0;
   }

   .galery-about__item {
      height: 300px;
   }
}

@media (max-width: 866px) {
   .about__title .about-title__background {
      font-size: 100px;
      line-height: 100px;
      top: -37px;
   }
   .about__title {
      font-size: 70px;
      line-height: 70px;
      margin-bottom: 25px;
      margin-top: 200px;
   }
   .galery-about__item {
      height: 300px;
      &:nth-child(1) {
         width: 45%;
      }
      &:nth-child(2) {
         width: 55%;
      }
      &:last-child {
         display: none;
      }
   }
}

@media (max-width: 510px) {
   .about__title .about-title__background {
      font-size: 80px;
      line-height: 80px;
      top: -22px;
   }
   .about__title {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 25px;
      margin-top: 200px;
   }
   .about__galery {
      flex-wrap: wrap;

   }
   .galery-about__item {
      height: 300px;
      &:nth-child(1) {
         width: 100%;
      }
      &:nth-child(2) {
         width: 100%;
      }
      &:last-child {
         display: none;
      }
   }
}