.main {
   &__cart {
      min-height: 90vh;
   }
}

.container.cart-container {
   max-width: 1284px;
}

.cart {

   &__title {
      margin-top: 193px;
      margin-bottom: 16px;
      font-family: 'Uindbase Font 1';
      font-style: normal;
      font-weight: 400;
      font-size: 100px;
      line-height: 70px;
      text-transform: uppercase;      
      position: relative;
   }

   &__flex {
      display: flex;
      justify-content: space-between;
      gap: 13px;
      margin-bottom: 95px;
   }

   &__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   &__forms {
      width: 100%;
   }
}
.cart-title__background {
   top: -45px;
   font-style: normal;
   font-weight: 700;
   font-size: 130px;
   line-height: 113px;
   text-align: center;
   text-transform: uppercase;
}


.list {

   &__item {
   width: 797px;
   background: #10171F;
   box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   overflow: hidden;
   display: grid;
   gap: 30px;
   grid-template-columns: 0.25fr 0.20fr 0.3fr 0.25fr;
   grid-template-rows: 0.5fr 0.5fr;
   grid-template-areas: "img title title title"
                        "img size number price";
   justify-items: start;
   align-items: start;
   }

   &__text {
      margin-top: 11px;
      align-self: end;
      text-align: right;
      max-width: 460px;
      font-family: 'Uindbase Font 1';
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;
      text-transform: uppercase;  
      color: #3B4654;
   }

   &__delivery {
      margin-top: 11px;
      align-self: end;
      font-family: 'Uindbase Font 1';
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      text-align: right;
      text-transform: uppercase;
   }

   &__total-price {
      margin-top: 11px;
      align-self: end;
      align-self: end;
      font-family: 'Uindbase Font 1';
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      text-align: right;
      text-transform: uppercase;
   }

   &__agreement {
      margin-top: 33px;
      display: flex;
      justify-content: space-between;
      max-width: 423px;
      gap: 24px;
      #agreement {
         position: absolute;  
         opacity: 0;
      }
      label {
         display: flex;
         background: #10171F;
         border-radius: 10px;
         height: 52px;
         max-width: 194px;
         align-items: center;
         justify-content: space-around;
         gap: 25px;
         padding: 6px 10px;
         font-family: 'Uindbase Font 1';
         font-weight: 400;
         font-size: 10px;
         line-height: 10px;
         text-transform: uppercase;         
         &::before {
            content: '';
            width: 20px;
            height: 20px;
            border: 2px solid #3B4654;
            flex-shrink: 0; 
            user-select: none;
            background-size: 100% 100%;
         }
         &:hover::before {
            border: 2px solid #D1C12B;
         }
      }
      input:focus+label::before {
         border: 2px solid #D1C12B;
      }
      input:checked + label::before {
         background-image: url(/img/checked.svg);
         border: 2px solid #3B4654;
      }
   }
}

.list-item {

   &__img {
      grid-area: img;
   }

   &__title {
      grid-area: title;
      align-self: end;
      font-family: 'Uindbase Font 1';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 30px;
      text-transform: uppercase;
   }

   &__size {
      grid-area: size;
      font-family: 'Uindbase Font 1';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
   }

   &__number {
      grid-area: number;
      font-family: 'Uindbase Font 1';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
   }

   &__price {
      grid-area: price;
      font-family: 'Uindbase Font 1';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
   }
}


.forms {

   &__title {
      padding-left: 13px;
      border-left:  solid 3px #1F252D;
      font-family: 'Uindbase Font 1';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
   }

   &__item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-left:  solid 3px #1F252D;
      padding-left: 13px;
   }
}

.forms-item {

   &__subtitle {
      margin-top: 25px;
      font-family: 'Uindbase Font 1';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;
      text-transform: uppercase;
      color: #464e59;
   }

   &__text {
      width: 100%;
      max-width: 423px;
      height: 40px;
      background: #10171F;
      border-radius: 10px;
      padding: 5px;
      padding-left: 10px;
      margin: 0;
      border: none;
      line-height: 30px;
      font-size: 30px;
   }

   &__radio {
      margin-top: 33px;
      display: flex;
      justify-content: space-between;
      max-width: 423px;
      gap: 24px;
      #online {
         position: absolute;  
         opacity: 0;
      }
      #offline {
         position: absolute;
         opacity: 0;
      }
      label {
         display: flex;
         background: #10171F;
         border-radius: 10px;
         height: 52px;
         max-width: 194px;
         align-items: center;
         justify-content: space-around;
         gap: 25px;
         padding: 6px 10px;
         font-family: 'Uindbase Font 1';
         font-weight: 400;
         font-size: 15px;
         line-height: 20px;
         text-transform: uppercase;         
         &::before {
            content: '';
            width: 20px;
            height: 20px;
            border: 2px solid #3B4654;
            flex-shrink: 0; 
            user-select: none;
            background-size: 100% 100%;
         }
         &:hover::before {
            border: 2px solid #D1C12B;
         }
      }
      input:focus+label::before {
         border: 2px solid #D1C12B;
      }
      input[type=radio]:checked + label::before {
         background-image: url(/img/checked.svg);
         border: 2px solid #3B4654;
      }
   }
   &__button {
      margin-top: 78px;
      width: 230px;
      padding: 13px;
      align-self: end;
   }
}

.visible {
   display: flex;
}
.hidden {
   display: none;
}